* {
    padding: 0;
    margin: 0;
}

body {
}

#tileMap {
    background-image: url("../img/mapa.png");
    width: 960px;
    height: 336px;
    position: absolute;
    display: none;
}

.absolute {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    font-size: 1em;
    border: 1px solid white;
    display: none;
}

#camera {
    position: absolute;
    overflow: scroll;
    border: 1px solid yellow;
    width: 850px;
    height: 450px;
}

#canvas {
    width: 1104px;
    height: 720px;
    position: absolute;
}

#personagem {
    width: 29px;
    height: 40px;
    position: absolute;
    z-index: 9999;
}
